body {
    font-family: Arial, sans-serif;
    overflow: hidden; 
}

.tabs {
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    display: none;
}

label {
    background-color: #f1f1f1;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-right: -1px;
}

label:hover {
    background-color: #ddd;
}

.tab-content {
    position: relative;
}

iframe {
    width: 100%;
    height: 1100px;
    border: none;
    display: none;
    overflow: hidden; 
}



/* Mostrar el iframe correspondiente al input seleccionado */
#tab1:checked ~ .tab-content #content1,
#tab2:checked ~ .tab-content #content2,
#tab3:checked ~ .tab-content #content3 {
    display: block;
}

