body {
    font-family: Arial, sans-serif;
    margin: 0; /* Importante para que no haya bordes blancos */
    overflow: hidden; 
}

/* Contenedor de los labels */
.button-container {
    display: flex;
    background-color: #2c3e50; /* Color oscuro profesional */
    padding: 5px 5px 0 5px;
}

label {
    background-color: #34495e;
    color: white;
    padding: 12px 25px;
    cursor: pointer;
    border: 1px solid #2c3e50;
    border-radius: 8px 8px 0 0; /* Pestañas redondeadas arriba */
    margin-right: 5px;
    font-size: 14px;
    transition: 0.3s;
}

label:hover {
    background-color: #456789;
}

/* Estilo para la pestaña ACTIVA */
#tab1:checked ~ label[for="tab1"],
#tab2:checked ~ label[for="tab2"],
#tab3:checked ~ label[for="tab3"] {
    background-color: #0275d8; /* Azul intenso para la activa */
    font-weight: bold;
    border-bottom: 2px solid #0275d8;
}

.tab-content {
    position: relative;
    height: calc(100vh - 45px); /* Resta el alto de los botones para evitar scroll doble */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

/* Mostrar contenido */
#tab1:checked ~ .tab-content #content1,
#tab2:checked ~ .tab-content #content2,
#tab3:checked ~ .tab-content #content3 {
    display: block;
}
